[submodule "c/9IDS2"]
	path = c/9IDS2
	url = https://github.com/Ive09/9IDS2.git
[submodule "c/Users/CB09-23/Desktop/p9ids2"]
	path = c/Users/CB09-23/Desktop/p9ids2
	url = https://github.com/Ive09/9IDS2.git
